# NDVI Climatology

* **Products used:** 
[ndvi_climatology_ls](https://explorer.digitalearth.africa/products/ndvi_climatology_ls)

**Keywords**: :index:`data used; ndvi climatology`

## Background

Climatology refers to conditions averaged over a long period of time, typically greater than 30 years. The Digital Earth Africa NDVI Climatology product represents the long-term average baseline condition of vegetation for every Landsat pixel over the African continent. Both mean and standard deviation NDVI climatologies are available for each calender month. The product was calculated on the period 1984-2020. NDVI climatologies may be used for many applications including identifying extremeties (anomalies) in vegetation condition, indentifying both long and short-term changes in vegetation condition, and as an input into machine learning processes for land use classification.

Further details on the calculation of the product are available in the [NDVI Climatology technical specifications](https://docs.digitalearthafrica.org/en/latest/data_specs/NDVI_Climatology_specs.html) documentation.

**Important details:**

* Datacube product names: `ndvi_climatology_ls`
* Measurements
    * `mean_<month>`: These measurements show the mean NDVI calculated from all available NDVI data from 1984-2020 for the given month.

    * `stddev_<month>`: These measurements show the standard deviation of NDVI values of all available NDVI data from 1984-2020 for the given month.

    * `count_<month>`: These measaurements show the number of clear observations that go into creating the mean and standard deviation measurements. Importantly, caution should be used when applying this product to regions where the clear observation count is less than approximately 30. This can often be the case over equatorial Africa due to frequent cloud cover and inconsistent coverage of Landsat-5. 
* Status: Operational
* Date-range: The time dimension represents calendar months aggregated across the period 1984-2020.
* Spatial resolution: 30m

## Description

In this notebook we will load the NDVI Climatology product using `dc.load()` to return mean, standard deviation, and clear observation count for each calendar month.

Topics covered include:
1. Inspecting the NDVI Climatology product and measurements available in the datacube.
2. Using the native `dc.load()` function to load in NDVI Climatology.
3. Inspect perennial and annual vegtation using NDVI mean and standard deviation.

***

## Getting started

To run this analysis, run all the cells in the notebook, starting with the "Load packages" cell.

### Load packages

In [1]:
import datacube
import numpy as np
import matplotlib.pyplot as plt

### Connect to the datacube

In [2]:
dc = datacube.Datacube(app='NDVI_clim')

## Available measurements

### List measurements

In [3]:
product_name = 'ndvi_climatology_ls'

dc_measurements = dc.list_measurements()
dc_measurements.loc[product_name].drop('flags_definition', axis=1)

                   name    dtype units  nodata                         aliases
measurement
mean_jan       mean_jan  float32     1     NaN        [MEAN_JAN, mean_january]
mean_feb       mean_feb  float32     1     NaN       [MEAN_FEB, mean_february]
mean_mar       mean_mar  float32     1     NaN          [MEAN_MAR, mean_march]
mean_apr       mean_apr  float32     1     NaN          [MEAN_APR, mean_april]
mean_may       mean_may  float32     1     NaN                      [MEAN_MAY]
mean_jun       mean_jun  float32     1     NaN           [MEAN_JUN, mean_june]
mean_jul       mean_jul  float32     1     NaN           [MEAN_JUL, mean_july]
mean_aug       mean_aug  float32     1     NaN         [MEAN_AUG, mean_august]
mean_sep       mean_sep  float32     1     NaN      [MEAN_SEP, mean_september]
mean_oct       mean_oct  float32     1     NaN        [MEAN_OCT, mean_october]
mean_nov       mean_nov  float32     1     NaN       [MEAN_NOV, mean_november]
mean_dec       mean_dec  float32     1     NaN       [MEAN_DEC, mean_december]
stddev_jan   stddev_jan  float32     1     NaN    [STDDEV_JAN, stddev_january]
stddev_feb   stddev_feb  float32     1     NaN   [STDDEV_FEB, stddev_feburary]
stddev_mar   stddev_mar  float32     1     NaN      [STDDEV_MAR, stddev_march]
stddev_apr   stddev_apr  float32     1     NaN      [STDDEV_APR, stddev_april]
stddev_may   stddev_may  float32     1     NaN                    [STDDEV_MAY]
stddev_jun   stddev_jun  float32     1     NaN       [STDDEV_JUN, stddev_june]
stddev_jul   stddev_jul  float32     1     NaN       [STDDEV_JUL, stddev_july]
stddev_aug   stddev_aug  float32     1     NaN     [STDDEV_AUG, stddev_august]
stddev_sep   stddev_sep  float32     1     NaN  [STDDEV_SEP, stddev_september]
stddev_oct   stddev_oct  float32     1     NaN    [STDDEV_OCT, stddev_october]
stddev_nov   stddev_nov  float32     1     NaN   [STDDEV_NOV, stddev_november]
stddev_dec   stddev_dec  float32     1     NaN   [STDDEV_DEC, stddev_december]
count_jan     count_jan    int16     1  -999.0      [COUNT_JAN, count_january]
count_feb     count_feb    int16     1  -999.0     [COUNT_FEB, count_february]
count_mar     count_mar    int16     1  -999.0        [COUNT_MAR, count_march]
count_apr     count_apr    int16     1  -999.0        [COUNT_APR, count_april]
count_may     count_may    int16     1  -999.0                     [COUNT_MAY]
count_jun     count_jun    int16     1  -999.0         [COUNT_JUN, count_june]
count_jul     count_jul    int16     1  -999.0         [COUNT_JUL, count_july]
count_aug     count_aug    int16     1  -999.0       [COUNT_AUG, count_august]
count_sep     count_sep    int16     1  -999.0    [COUNT_SEP, count_september]
count_oct     count_oct    int16     1  -999.0      [COUNT_OCT, count_october]
count_nov     count_nov    int16     1  -999.0     [COUNT_NOV, count_november]
count_dec     count_dec    int16     1  -999.0     [COUNT_DEC, count_december]

***

## Additional information

**License:** The code in this notebook is licensed under the [Apache License, Version 2.0](https://www.apache.org/licenses/LICENSE-2.0). 
Digital Earth Africa data is licensed under the [Creative Commons by Attribution 4.0](https://creativecommons.org/licenses/by/4.0/) license.

**Contact:** If you need assistance, please post a question on the [Open Data Cube Slack channel](http://slack.opendatacube.org/) or on the [GIS Stack Exchange](https://gis.stackexchange.com/questions/ask?tags=open-data-cube) using the `open-data-cube` tag (you can view previously asked questions [here](https://gis.stackexchange.com/questions/tagged/open-data-cube)).
If you would like to report an issue with this notebook, you can file one on [Github](https://github.com/digitalearthafrica/deafrica-sandbox-notebooks).

**Compatible datacube version:**

In [17]:
print(datacube.__version__)

1.8.6

**Last Tested:**

In [18]:
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2021-12-22'